* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Roboto', serif;
}

h2,
h3,
p {
  font-family: 'Roboto Slab', serif;
}

h1,
h2,
h3,
p {
  color: #fff;
}

.main-header {
  background-color: #333;
  padding-bottom: 10px;
  margin-bottom: 45px;
}

@media (min-width: 700px) {
  .main-header {
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
  }
}

.main-header h1,
.main-header h2 {
  margin: 0px auto 5px auto;
  text-align: center;
  font-size: 2rem;
}

.main-header h2 {
  font-style: italic;
  text-decoration: underline;
  margin-bottom: 10px;
}

.content {
  flex: 1;
}

.main-footer {
  padding: .5rem;
  background-color: #333;
  text-align: center;
  z-index: 2;
}

.main-content-background {
  background-image: url("./img/background-main-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-picture-cont {
  position: relative;
}

.main-picture {
  display: block;
  max-width: 171px;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -160px;
  margin-left: -89px;
}

@media (min-width: 700px) {
  .main-picture {
    display: block;
    margin-top: 48px;
    margin-left: -82px;
  }
}

@media (min-width: 890px) {
  .main-picture {
    max-width: 195px;
    margin-top: 36px;
    margin-left: -100px;
  }
}

@media (min-width: 990px) {
  .main-picture {
    max-width: 208px;
    margin-top: 28px;
    margin-left: -108px;
  }
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 170px;
}

@media (min-width: 700px) {
  .main-content {
    flex-direction: row;
    margin-top: 233px;
  }
}

@media (min-width: 960px) {
  .main-content {
    margin: 233px auto;
  }
}

@media (min-width: 1050px) {
  .main-content {
    margin: 233px auto 0px;
    max-width: 1032px;
  }
}

.main-content h2 {
  color: #fff;
  font-size: 1.7rem;
  text-align: center;
  padding: 8px;
}

.main-content .content-seg-top,
.main-content .content-seg-bottom {
  display: block;
  background: rgba(179, 178, 178, 0.9);
  margin: 23px auto;
  padding: 10px;
  width: 90%;
  cursor: pointer;
}

.main-content .content-seg-top p,
.main-content .content-seg-bottom p {
  display: none;
}

@media (min-width: 700px) {
  .main-content .content-seg-top,
  .main-content .content-seg-bottom {
    max-width: 40%;
    max-height: 107px;
    margin: 10px auto;
  }
}
